.container {
  width: 100vw;
  height: 100vh;
  background-color: #e9ecf0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 35vw;
  height: 50vh;
  background-color: #f3f6fa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  .formContainer {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .formContainer {
    width: 70vw;
  }
}
.form {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 60%;
  height: 20%;
}

.formInput {
  width: 70%;
  height: 10%;
  padding: 10px;
  background: linear-gradient(
    103.6deg,
    rgba(71, 83, 97, 0.075) 0%,
    rgba(71, 83, 97, 0) 100%
  );
  border: 1px solid rgba(71, 83, 97, 0.15);
  border-radius: 10px;
}

.formInput:focus {
  outline: none;
  border: 2px solid #2f80ed;
}

.formButton {
  width: 65%;
  height: 15%;
  background-color: #117fff;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  font-size: medium;
  font-weight: 500;
  font-family: "PrimaNova";
  cursor: pointer;
}
